@Html.Partial("_Header")

<div class="row">
    <div class="large-8 columns">
        <h3>The Frameworks</h3>

        <p>Choose a framework to evaluate:</p>
        <ul class="no-bullet">
            <li><a href="/Razor">MVC (No JS)</a></li>
            <li><a href="/Knockout">MVC + Knockout</a></li>
            <li>Ember.js</li>
            <li>Angular.js</li>
            <li>Knockout + Pager</li>
            <li>Backbone</li>
            <li>Knockback</li>
            <li>Riot.js</li>
        </ul>

    </div>


    <div class="large-4 columns">
        <h4>Avenge Yourself!</h4>
        <p>Web Frontend Testing Framework, version 0.1</p>
    </div>
</div>
