<div id="editMissionModal" class="reveal-modal large" data-bind="with: selectedMission" data-reveal>
    <form data-bind="submit: $parent.updateMission">
    <input type="hidden" name="id" data-bind="value: Id" />
    <input type="hidden" name="agentId" value="@OfficeAvenger.Web.Security.Shield.ActiveAgent.Id" />

    <h4>Update Mission</h4>
    <div class="panel">
        <div class="row">
            <div class="small-12 column">
                <label for="name">Mission Description</label>
                <input type="text" name="name" placeholder="Mission Description" autofocus="autofocus" data-bind="value: Name" />
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-4 column">
                <label for="avatar">Duration</label>
                <input type="text" name="duration" placeholder="Duration (mins)" data-bind="value: Duration" />
            </div>
        </div>
        <div class="row">
            <div class="small-12 column">
                <input type="submit" class="small button right" value="Update" />
            </div>
        </div>
    </div>

    </form>
    
    <!-- ko if: Id -->
    <h5>Selected Team</h5>

    <!-- ko if: Team().length -->
    <div class="clearfix">
        <!-- ko foreach: Team -->
        <form class="inline" data-bind="submit: $root.removeHero">
            <input type="hidden" name="missionId" data-bind="value: $parent.Id" />
            <input type="hidden" name="avengerId" data-bind="value: Id" />
            <img class="avatar clickable" data-bind="attr: { src: Avatar }" onclick="$(this).closest('form').submit();" />
        </form>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: Team().length -->
    <div class="alert-box">
        Choose your team members for this mission.
    </div>
    <!-- /ko -->

    <h5>On Standby</h5>
    <div class="clearfix">
        <!-- ko foreach: $parent.standbyTeam -->
        <form class="inline" data-bind="submit: $root.addHero">
            <input type="hidden" name="missionId" data-bind="value: $root.selectedMission().Id" />
            <input type="hidden" name="avengerId" data-bind="value: Id" />
            <img class="avatar clickable" data-bind="attr: { src: Avatar }" onclick="$(this).closest('form').submit();" />
        </form>
        <!-- /ko -->
    </div>

    <!-- /ko -->

    <a class="close-reveal-modal">&#215;</a>
</div>
