<div class="row">
    <div class="small-12 column">
        <div class="panel">
            <img src="/content/images/agent.jpg" class="avatar" />
            <span>@OfficeAvenger.Web.Security.Shield.ActiveAgent.Name</span>
        </div>
    </div>
</div>
