<div class="row">
    <div class="small-12 column">
        <div class="panel agent-panel clearfix">
            <div class="left">
                <img src="/content/images/agent.jpg" class="avatar" />
            </div>
            <div class="left">
                <h5>@OfficeAvenger.Web.Security.Shield.ActiveAgent.Name</h5>
                <a href="/razor/home/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
