<form action="@Url.Action("Login")" method="post">
<div class="row">
    <div class="small-4 small-offset-4 column">
        
        <h4>Login</h4>
        <div class="panel">
            <div class="row">
                <div class="small-12 column">
                    <label>Username</label>
                    <input type="text" placeholder="comic" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <label>Password</label>
                    <input type="text" placeholder="superstar" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <input type="submit" class="small button right" value="Login" />
                </div>
            </div>
        </div>

    </div>
</div>
</form>
