<form action="@Url.Action("Login")" method="post">
<div class="row">
    <div class="small-4 small-offset-4 column">
        
        <h4>Login</h4>
        @if(TempData["LOGIN_ERROR"] != null){
        <div class="alert-box warning">
          @TempData["LOGIN_ERROR"]
          <a href="#" class="close">&times;</a>
        </div>
        }
        <div class="panel">
            <div class="row">
                <div class="small-12 column">
                    <label>Username</label>
                    <input type="text" placeholder="comic" name="username" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <label>Password</label>
                    <input type="text" placeholder="superstar" name="password" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <input type="submit" class="small button right" value="Login" />
                </div>
            </div>
        </div>

    </div>
</div>
</form>
