<div class="row">
    <div class="large-12 columns">
        <h2>Office Avenger</h2>
        <p>Send out the Avengers to tackle that menial office work while you sit back and enjoy a cold drink.</p>
        <hr />
    </div>
</div>