<div class="row">
    <div class="column small-12 large-8 small-centered">
        <form data-ng-submit="updateAvenger()">
        <input type="hidden" name="id" data-ng-model="avenger.Id"/>

        <h4>{{ title }}</h4>
        <div class="panel">
            <div class="row">
                <div class="small-12 column">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Avatar Code Name" autofocus="autofocus" data-ng-model="avenger.Name" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <label>Avatar</label>
                    <input type="text" name="avatar" placeholder="Avatar URL or Data URI" data-ng-model="avenger.Avatar" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <input type="submit" class="small button right" value="Update" />
                </div>
            </div>
        </div>

        </form>
    </div>
</div>
