<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwExceptions="true"
	  internalLogToConsole="true">

	<targets>
		<target xsi:type="File"
				name="f"
				fileName="${specialfolder:MyDocuments}/OfficeAvenger/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}" />

		<target xsi:type="Debugger"
				name="d"
				layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<rules>
		<!-- Debug < Info < Warn < Error < Fatal -->

		<!-- Write only INFO and above to the log file -->
		<logger name="*" minlevel="Info" writeTo="f" />

		<!-- Write everything to debug console -->
		<logger name="*" minlevel="Debug" writeTo="d" />
	</rules>
</nlog>