<div id="editTeamModal" class="reveal-modal large" data-bind="with: selectedAvenger" data-reveal>
    <form data-bind="submit: $parent.updateTeam">
    <input type="hidden" name="id" data-bind="value: Id" />
    <input type="hidden" name="agentId" value="@OfficeAvenger.Web.Security.Shield.ActiveAgent.Id" />

    <h4>Update Team</h4>
    <div class="panel">
        <div class="row">
            <div class="small-12 column">
                <label>Name</label>
                <input type="text" name="name" placeholder="Avatar Code Name" autofocus="autofocus" data-bind="value: Name" />
            </div>
        </div>
        <div class="row">
            <div class="small-12 column">
                <label>Avatar</label>
                <input type="text" name="avatar" placeholder="Avatar URL or Data URI" data-bind="value: Avatar" />
            </div>
        </div>
        <div class="row">
            <div class="small-12 column">
                <input type="submit" class="small button right" value="Update" />
            </div>
        </div>
    </div>

    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
