<div class="agent-panel">
    <div class="row">
        <div class="columns small-12">
            Welcome, @OfficeAvenger.Web.Security.Shield.ActiveAgent.Name
            <a href="/knockout/home/logout" class="small">Logout</a>
        </div>
    </div>
</div>
