<div id="missions-view">
    <h4>Missions</h4>
    <!-- ko if: loading().length -->
    <div class="loading-img"></div>
    <!-- /ko -->
    <!-- ko foreach: missions -->
    <div class="mission crush" style="display: none;" data-bind="visible: true">
        <div class="clearfix">
            <div class="mission-name"><a href="#" data-bind="text: Name, click: $parent.editMission"></a></div>
            <div class="right">
                <div class="mission-duration" data-bind="text: Duration() + ' mins'"></div>
                <div class="mission-start">
                    <!-- ko ifnot: MissionStart -->
                    <button type="submit" class="button tiny hugme" data-bind="click: $parent.startMission">Begin</button>
                    <!-- /ko -->
                    <!-- ko if: MissionStart -->
                    <!-- ko if: Completed -->
                    <span>Completed</span>
                    <!-- /ko -->
                    <!-- ko ifnot: Completed -->
                    <span>Engaged</span>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
            <div class="right trash-form">
                <img class="trash-small" src="/content/images/trash-128.png" data-bind="click: $parent.deleteMission" />
            </div>
        </div>
        <div class="mission-team clearfix">
            <!-- ko foreach: Team -->
            <img data-bind="attr: { src: Avatar, title: Name }" class="left avatar" />
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <a class="button" href="#" data-bind="click: addMission">New Mission</a>
</div>
