<h4>Missions</h4>
<!-- ko ifnot: Missions -->
<div class="loading-img"></div>
<!-- /ko -->
<!-- ko foreach: Missions -->
<div class="mission crush" style="display: none;" data-bind="visible: true">
    <div class="clearfix">
        <div class="mission-name"><a data-bind="attr: { href: editMissionUri }, text: Name"></a></div>
        <div class="right">
            <div class="mission-duration" data-bind="debug: $data, text: Duration"></div>
            <div class="mission-start">
                <!-- ko ifnot: missionStarted -->
                <form data-bind="submit: startMission" class="inline hugme">
                    <input type="hidden" name="id" data-bind="value: Id" />
                    <a href="#" onclick="$(this).closest('form').submit();" class="button tiny hugme">Begin</a>
                </form>
                <!-- /ko -->
                <!-- ko if: missionStarted -->
                <!-- ko text:MissionStart --><!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="mission-end" data-bind="text: MissionEnd"></div>
        </div>
    </div>
    <div class="mission-team clearfix">
        <!-- ko foreach: Team -->
        <img data-bind="attr: { src: Avatar, title: Name }" class="left avatar" />
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
<a class="button" href="/razor/mission/add">New Mission</a>