@model OfficeAvenger.Web.Areas.Razor.Models.HomeViewModel
@{
    ViewBag.Title = "Razor";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="columns small-12">
            @Html.Partial("_Messages")
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 large-4">
            @Html.Partial("_Avengers", Model.Avengers)
        </div>
        <div class="columns small-12 large-8">
            @Html.Partial("_Missions", Model.Missions)
        </div>
    </div>
}
else
{
    @Html.Partial("_Login")
}